name: Python CI with pytest

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: pip install pytest
    - name: Run tests with pytest
      run: pytest test/ -v

  sayHello:
    runs-on: ubuntu-latest
    steps:
      - name: Say hello
        run: echo "Hello from sayHello"
      - name: Say goodbye
        run: echo "Goodbye from sayHello"
